{% load static %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'home/style.css' %}">

    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="{% url 'home:index' %}" {% if active == 'home' %}class="active"{% endif %}>Home</a>
            <a href="{% url 'pokaz_elektroniki:index' %}" {% if active == 'pokaz_elektroniki' %}class="active"{% endif %}>Elektronika</a>
            <a href="{% url 'pola_figur:index' %}" {% if active == 'pola_figur' %}class="active"{% endif %}>Pola figur</a>
            <a href="{% url 'operacje_na_ulamkach:index' %}" {% if active == 'operacje_na_ulamkach' %}class="active"{% endif %}>Operacje na ulamkach</a>
            <a href="{% url 'algorytmy:index' %}" {% if active == 'algorytmy' %}class="active"{% endif %}>Algorytmy</a>
            <div class="dropdown">
                <a class="dropbtn">Algorytmy
                    <i class="fa fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    {% for algorytm in algorytmy %}
                        <a href="{% url 'algorytmy:index' algorytm.id %}">{{ algorytm.nazwa }}</a>
                    {% endfor %}
                </div>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="navbar-spacer"></div>
        {% block content %}
        {% endblock %}
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>