{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Bmi
{% endblock %}

{% block content %}

    <script src="{% static 'bmi/script.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'bmi/style.css' %}">

    <h1>Kalkulator bmi</h1>
    <h3>Twoja waga</h3>
    <input type="number" id="waga"/>
    <h3>Twój wzrost</h3>
    <input type="number" id="wzrost"/>
    <br>
    <button onclick="oblicz()">Oblicz</button>
    <div id="odpowiedz"></div>
    <div class="container">
        <img src="{% static 'bmi/images/skala_bmi.png' %}" id="img1">
        <img src="{% static 'bmi/images/strzalka.png' %}" class="image2" id="image2">
    </div>

{% endblock content %}