{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Operacje na ulamkach
{% endblock %}

{% block content %} 
    <script src="{% static 'operacje_na_ulamkach/script.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'operacje_na_ulamkach/style.css' %}">
    <div id="container">
        <h1>Operacje na ułamkach</h1>
        <div id="sk">
            <fieldset id="skracaj">
                <legend>Skracanie</legend>
                <input type="text" id="l1"/>
                <hr></hr>
                <input type="text" id="m1"/>
                <input type="button" value="Skróć" onclick="skracjUlamek()"/>
                <p id="ulsk">Ułamek skrócony ma wartość</p>
                <input type="text" id="l1s"/>
                <hr></hr>
                <input type="text" id="m1s"/>
            </fieldset>
            <div id="dod">
                <fieldset id="dodaj">
                    <legend>Dodawanie</legend>
                    <div class="md">
                        <input type="text" id="l2"/>
                        <hr></hr>
                        <input type="text" id="m2"/>
                        <br>
                    </div>
                    <div class="md">
                        <p>+</p>
                    </div>
                    <div class="md">
                        <input type="text" id="l3">
                        <hr></hr>
                        <input type="text" id="m3">
                    </div>
                    <div class="md">
                        <p>=</p>
                    </div>
                    <div class="md">
                        <input type="text" id="lw"/>
                        <hr></hr>
                        <input type="text" id="mw"/>
                    </div>
                    <input type="button" value="dodaj" onclick="dodajUlamek()"/>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock content %}