{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Rezystor
{% endblock %}

{% block content %} 
    
    <script src="{% static 'rezystor/script.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'rezystor/style.css' %}">

    <div id="container">
        <img src="{% static 'rezystor/images/rez_4.png' %}" class="small-img">
        <h1>Kalkulator kodów rezystorów 4 paskowy</h1>
        <div id="resistor">
            <div id="res-wire"></div>
            <div id="res-body">
                <div id="belt6" onclick="showMenu(6)"></div>
                <div id="belt7" onclick="showMenu(7)"></div>
                <div id="belt8" onclick="showMenu(8)"></div>
                <div id="belt9" onclick="showMenu(9)"></div>
            </div>
        </div>
    </div>
    <select id="value6" onchange="readValue(6)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
    <select id="value7" onchange="readValue(7)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
    <select id="value8" onchange="readValue(8)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="zloty">Złoty</option>
        <option value="srebrny">Srebrny</option>
    </select>
    <select id="value9" onchange="readValue(9)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="zloty">Złoty</option>
        <option value="srebrny">Srebrny</option>
    </select>
    <button onclick="calculate1()">Oblicz</button>
    <div id="wynik1"></div>

    <div id="container">
        <h1>Kalkulator kodów rezystorów 5 paskowy</h1>
        <img src="{% static 'rezystor/images/rez_5.png' %}" class="small-img">
        <div id="resistor">
            <div id="res-wire"></div>
            <div id="res-body">
                <div id="belt1" onclick="showMenu(1)"></div>
                <div id="belt2" onclick="showMenu(2)"></div>
                <div id="belt3" onclick="showMenu(3)"></div>
                <div id="belt4" onclick="showMenu(4)"></div>
                <div id="belt5" onclick="showMenu(5)"></div>
            </div>
        </div>
    </div>
    <select id="value1" onchange="readValue(1)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
    <select id="value2" onchange="readValue(2)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
    <select id="value3" onchange="readValue(3)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
    <select id="value4" onchange="readValue(4)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomarańczowy</option>
        <option value="zolty">Żółty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="zloty">Złoty</option>
        <option value="srebrny">Srebrny</option>
    </select>
    <select id="value5" onchange="readValue(5)" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="brazowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="zloty">Złoty</option>
        <option value="srebrny">Srebrny</option>
    </select>
    <button onclick="calculate()">Oblicz</button>
    <div id="wynik"></div>
{% endblock content %}