{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Rezystor
{% endblock %}

{% block content %} 
    
    <script src="{% static 'rezystor/script.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'rezystor/style.css' %}">

    <div id="container">
        <h1>Kalkulator kodów rezystorów</h1>
        <div id="resistor">
            <div id="res-wire"></div>
            <div id="res-body">
                <div id="belt1" onclick="showMenu1()"></div>
                <div id="belt2"></div>
                <div id="belt3"></div>
                <div id="belt4"></div>
            </div>
        </div>
    </div>
    <select id="value1" onchange="readValue1()" style="display: none;">
        <option value="" disabled selected>Wybierz kolor</option>
        <option value="czarny">Czarny</option>
        <option value="brązowy">Brązowy</option>
        <option value="czerwony">Czerwony</option>
        <option value="pomaranczowy">Pomaranczowy</option>
        <option value="zloty">Złoty</option>
        <option value="zielony">Zielony</option>
        <option value="niebieski">Niebieski</option>
        <option value="fioletowy">Fioletowy</option>
        <option value="szary">Szary</option>
        <option value="bialy">Biały</option>
    </select>
{% endblock content %}