{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Pole figur
{% endblock %}

{% block content %} 
    <link rel="stylesheet" href="{% static 'pokaz_elektroniki/style.css' %}">
    <div class="cos">
    <h1>Elementy elektroniczne</h1>
    <div class="image-gallery-container">
        {% for część in części_elektroniczne %}
            <div class="responsive">
                <div class="gallery">
                        {% if część.zdjęcie %}
                            <a href="{% url 'pokaz_elektroniki:strona_części_elektronicznej' część.id %}">
                                <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image gallery-img">
                            </a>
                        {% else %}
                            <p>(brak zdjęcia)</p>
                        {% endif %}
                        <h4 class="desc">{{ forloop.counter }}. {{ część.nazwa }}</h4>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock content %}