{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Pole figur
{% endblock %}

{% block content %} 
        <h1>Elementy elektroniczne</h1>
        {% for część in części_elektroniczne %}
            <h3>{{ forloop.counter }}. {{ część.nazwa }}</h3>
            {% if część.zdjęcie %}
                <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image">
            {% else %}
                <p>(brak zdjęcia)</p>
            {% endif %}
            <br>
            <a href="{% url 'pokaz_elektroniki:strona_części_elektronicznej' część.id %}">link do {{ część.nazwa }}</a>
        {% endfor %}
    </body>
</html>
{% endblock content %}