{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    Pole figur
{% endblock %}

{% block content %} 
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <h1>Elementy elektroniczne</h1>
    <div class="responsive">
        <div class="gallery">
            {% for część in części_elektroniczne %}
                {% if część.zdjęcie %}
                    <a href="{% url 'pokaz_elektroniki:strona_części_elektronicznej' część.id %}">
                        <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image">
                    </a>
                {% else %}
                    <p>(brak zdjęcia)</p>
                {% endif %}
                <div class="desc">{{ forloop.counter }}. {{ część.nazwa }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}