{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    {{ część.nazwa }}
{% endblock %}

{% block content %} 
        <h1>{{ część.nazwa }}</h1>
        <h3>{{ część.opis }}</h3>
        {% if część.zdjęcie %}
            <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image">
        {% else %}
            <p>(brak zdjęcia)</p>
        {% endif %}
        <br>
        {% if cześć.id == 1 %}
            <a href="https://www.tiktok.com/@kelbzgoat/video/7566026034307517714?_r=1&_t=ZN-93kXUGKQLLy" target="_blank">Sigma ah edit</a>
        {% endif %}
        <a href="{% url 'pokaz_elektroniki:index' %}">link do powrotu</a>
{% endblock content %}