{% extends "home/layout.html" %}
{% load static %}

{% block title %}
    {{ część.nazwa }}
{% endblock %}

{% block content %} 
        <h1>{{ część.nazwa }}</h1>
        <h3>{{ część.opis }}</h3>
        {% if część.zdjęcie %}
            <img src="{{ część.zdjęcie.url }}" alt="{{ część.nazwa }}" class="image">
        {% else %}
            <p>(brak zdjęcia)</p>
        {% endif %}
        <br>
        <a href="{% url 'pokaz_elektroniki:index' %}">link do powrotu</a>
    </body>
</html>
{% endblock content %}