* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add padding to body to prevent content from going under the fixed topnav */
body {
  padding-top: 50px; 
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.2s;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #040caa; 
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child):not(.icon) {
    display: block;
    float: none;
    text-align: left;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 16px;
    transition: max-height 0.25s ease-in-out, opacity 0.25s ease-in-out, padding 0.25s ease-in-out;
  }
  
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive a:not(:first-child):not(.icon) {
    max-height: 100px; /* Adjust if more content */
    opacity: 1;
    padding: 14px 16px;
  }
}