hr{
    width: 50px;
    margin-left: 1px;
}

input{
    width: 50px;
}

#skracaj{
    width: 200px;
    border-radius: 10px;
}

#sk{
    background-color: aliceblue;
    width: 400px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}