h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

hr{
    width: 50px;
    margin-left: 1px;
}

input{
    width: 50px;
}

#skracaj{
    width: 200px;
    border-radius: 10px;
    float: left;
}

#dodaj{
    width: 200px;
    border-radius: 10px;
    float: left;
}

#sk{
    background-color: aliceblue;
    width: 665px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.md{
    width: 60px;
    height: 60px;
    float: left;
}