div.gallery {
  /* Removed border: 1px solid #ccc; */
}

div.gallery:hover {
  /* Removed border: 1px solid #777; */
}

div.gallery img {
  width: 100%;
  height: auto;
}

.gallery-img {
    max-width: 700px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left; /* Reintroduced float: left */
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%; /* Two images per line */
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%; /* One image per line */
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}