<!DOCTYPE html>
<html lg="pl">
    <head>
        <title>Pola figur</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script.js" ></script>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    <h2>Pole i obwód prostokąta</h2>
                    <input type="number" id="rectA" placeholder="Bok a">
                    <input type="number" id="rectB" placeholder="Bok b">
                    <br><button onclick="rectangle()">Oblicz</button>
                    <div id="rectResult" ></div>
                </td>
                <td>
                    <h2>Pole i obwód okręgu</h2>
                    <input type="number" id="cirR" placeholder="Promień r">
                    <br><button onclick="circle()">Oblicz</button>
                    <div id="cirResult" ></div>
                </td>
            </tr>
        </table>
    </body>
</html>